.input-container {
  --container-bg-color: var(--color-light-gray);
  --container-shadow: 5px 5px 5px var(--color-dark-gray);
  --container-font-size: 1rem;
  --container-width: 100%;

  --img-arrow-width: var(--container-font-size);

  background: var(--container-bg-color);
  box-shadow: var(--container-shadow);
  font-size: var(--container-font-size);
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .arrow {
    width: calc(var(--img-arrow-width) + (var(--img-arrow-width) * 0.5));
    display: none;
  }

  input {
    border: none;
    border-bottom: var(--border-thick-black);
    font-size: inherit;
    margin-inline: 1rem;
    outline: none;
    width: 60%;
  }

  input:invalid {
    border-bottom: var(--border-thick-red);
  }

  input:valid {
    border-bottom: var(--border-thick-green);
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .form-item {
    margin-block: 0.5rem;
    padding: 1rem;
  }

  label[for="name"]::after,
  label[for="phone"]::after,
  label[for="email"]::after {
    content: "*";
    color: var(--color-red);
  }

  label::after {
    content: "*";
    color: var(--color-white);
  }
}

@media only screen and (min-width: 600px) {
  .input-container {
    font-size: calc(
      var(--container-font-size) + var(--container-font-size) * 0.2
    );

    .arrow {
      display: none;
      width: calc(var(--img-arrow-width) + (var(--img-arrow-width) * 0.8));
    }
  }
}

@media only screen and (min-width: 768px) {
  .input-container {
    font-size: calc(
      var(--container-font-size) + var(--container-font-size) * 0.3
    );

    .arrow {
      width: calc(var(--img-arrow-width) + var(--img-arrow-width));
    }
  }
}

@media only screen and (min-width: 992px) {
  .btn {
    padding: 1rem;
  }
  .input-container {
    font-size: calc(
      var(--container-font-size) + var(--container-font-size) * 0.5
    );

    .arrow {
      display: none;
    }

    .section-heading {
      padding-inline: 1rem;
    }

    .form-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}
